<%= render 'form', simulacao: @simulacao %>

<section id="plans" class="hide">
    <h3>Pronto! <small> Abaixo estão os valores da sua simulação. Nâo perca tempo e aproveite esta oportunidade.</small></h3>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="panel panel-success panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-desktop"></i>
                        <h3>Taxa 34,48%</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>R$1.425,75</strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> Valor a receber</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-success" href="#">Contratar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div id="tb-testimonial" class="testimonial testimonial-primary-filled">
                    <div class="testimonial-section">
                        Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                    </div>
                    <div class="testimonial-desc">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="" />
                        <div class="testimonial-writer">
                            <div class="testimonial-writer-name">Rapidoo Team</div>
                            <div class="testimonial-writer-designation">Tax Manager</div>
                            <a href="#" class="testimonial-writer-company">São Paulo - Paulista</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
